/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  color: black;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: auto;
  border: 1px solid #888;
  width: 92%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.8rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
.modal-header h5 {
  font-size: 1.25rem;
  font-weight: 550;
}
.modal-header span {
  color: #aaa;
  font-size: 1.75rem;
  font-weight: bold;
}
.modal-header span:hover,
.modal-header span:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 0.15rem 0.7rem;
  margin: 0.5rem 0 1rem 0;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.modal-body textarea {
  resize: none;
  min-height: 3.5rem;
  max-height: 12rem;
}

.deckname,
.deckcategory,
.deckduedate,
.deckdescription {
  padding: 0.2em;
}

.deckdescription {
  width: 100%;
  height: 5rem;
  resize: none;
}

.disabledinputtag {
  position: relative;
  bottom: 40px;
  left: 195px;
  color: grey;
  padding: 0 0 0 0.5em;
  pointer-events: none;
}

.invalid {
  border: 0.125rem solid red;
}

.submitbutton {
  width: 50%;
  margin-left: auto;
  padding: 0.1em;
}

.questiondiv,
.answerdiv {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}

.useroptionsdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  margin-top: 2em;
}
.useroptionsdiv button {
  font-size: 0.9em;
  padding: 0.3em;
  margin: 0.2em;
}

.newcardtitlediv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2em 0.5em 0.5em 0.5em;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.deckdisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.deck {
  display: flex;
  justify-content: center;
  min-height: 7rem;
  width: 95%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 0.5em;
  padding: 0rem 0.5rem 0rem 0.5rem;
  background-color: #2e3856;
}

.deckimageandname {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #ffcd1e;
  margin: 0.7em 0 0.7em 1em;
  padding-right: 1em;
  gap: 0.5rem;
}
.deckimageandname button {
  padding: 0.2em;
}
.deckimageandname h3 {
  font-size: 1rem;
}
.deckimageandname p {
  color: rgba(253, 253, 253, 0.681);
  font-size: 0.9rem;
}

.deckdescriptiondiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 70%;
  margin: 0.7em 0 0.7em 0;
}
.deckdescriptiondiv p {
  padding: 0.5em;
  text-align: center;
}
.deckdescriptiondiv :nth-child(2) {
  color: rgba(253, 253, 253, 0.681);
  font-size: 0.9rem;
}

.itsemptymessage {
  text-align: center;
  padding: 1em;
}

.rowofcards {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem;
}

.overviewcard {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  color: black;
  border-radius: 5px;
  background-color: white;
}
.overviewcard div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-top: 0.5rem;
}
.overviewcard img {
  width: max(1.5rem, 5vw);
}
.overviewcard h3 {
  font-size: 0.9rem;
}

.greencardunderline,
.brickcardunderline,
.bluecardunderline,
.sunshinecardunderline {
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
}

.greencardunderline {
  text-decoration-color: #34C381;
}

.bluecardunderline {
  text-decoration-color: #046FC6;
}

.brickcardunderline {
  text-decoration-color: #ED6D47;
}

.sunshinecardunderline {
  text-decoration-color: #FFBA17;
}

.settingssection select {
  padding: 0.3em;
}

.deckdeleteoptions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.deletedeckdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1em;
}
.deletedeckdiv button {
  padding: 0.1em;
}

.resetbutton {
  display: block;
  margin: 1rem auto auto auto;
  color: red;
  border: 1px solid red;
  padding: 0.2em;
}

.innerheaderdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-bottom: 1px solid #282e3e;
}
.innerheaderdiv h3 {
  font-size: 1.6rem;
  border-bottom: 1px solid #ffcd1e;
}

.containerdiv {
  height: 38.4px;
}

.bannerbutton {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  height: 2.4rem;
  width: 2.4rem;
  padding: 0em;
  border-radius: 50%;
  background-color: #4255ff;
}

.bannerbutton:hover {
  background-color: #423ed9;
}

.menu {
  position: absolute;
  right: 1rem;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: none;
}
.menu button {
  min-width: 8rem;
  padding: 0.7em;
  background-color: #0a082d;
  color: white;
  border: 1px solid #282e3e;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.menu button:hover {
  background-color: #0a082d;
  opacity: 0.9;
}

.menu.show {
  display: block;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
}
.nav-right p {
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(246, 246, 246);
  overflow-x: hidden;
  margin-top: 42.3px;
  transition: 0.3s;
}

.sidenav.active {
  width: 15rem;
}

.sidenavinnerdiv {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 0 2rem;
}
.sidenavinnerdiv a {
  padding: 0.3rem 0.5rem 0.4rem 1rem;
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  display: block;
  transition: 0.2 0.5s;
}
.sidenavinnerdiv li {
  list-style: none;
  white-space: nowrap;
}
.sidenavinnerdiv li:hover {
  background-color: white;
}

.studycarddiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}
.studycarddiv div {
  flex-direction: column;
  padding: 0.5em;
  min-width: 50%;
  min-height: 5rem;
}
.studycarddiv p {
  text-align: center;
}

.inactive {
  background-color: rgba(121, 121, 121, 0.9);
  pointer-events: none;
  border-color: rgba(121, 121, 121, 0.9);
}

.numberofcards {
  margin-bottom: 3em;
}

.studydiv {
  margin: 0 1.2em 0 1.2em;
}
.studydiv h1 {
  margin-top: 0.5 em;
  font-size: 1.8rem;
}

.flip-card {
  background-color: transparent;
  border-radius: 25% 10%;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25% 10%;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.flip-card-inner.activated {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  border: 2px solid #ffcd1e;
  border-radius: 25% 10%;
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  border: 2px solid #ffcd1e;
  border-radius: 25% 10%;
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.buttonsspan {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 1em;
}
.buttonsspan button {
  padding: 0.3em;
}

.congratsdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  margin: 3em 1em 1em 1em;
}
.congratsdiv button {
  padding: 0.2em;
}

html,
body {
  background-color: #0a082d;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: white;
}

main {
  border-top: 1px solid black;
  min-height: fit-content;
}

.mobilenav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border: 1px solid grey;
  min-height: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mobilenav img {
  width: 2rem;
  pointer-events: none;
}
.mobilenav button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  gap: 0.5rem;
}
.mobilenav h3 {
  font-size: 0.9rem;
  color: grey;
  pointer-events: none;
}

section h1 {
  text-align: left;
  padding: 1rem;
  font-size: 1.3rem;
}

/*# sourceMappingURL=style.css.map */
