@use 'config';


//Desktop
@media (min-width: config.$breakpoint)  {
    
    //_overview.scss
    .rowofcards {
        // :first-child { justify-self: flex-start; }
        // :nth-child(2) { justify-self: flex-start; }
        display: flex;
        justify-content: flex-start;
        gap: .7em;
    }

    //_yourdecks.scss
    .deckdisplay {
        width: 80vw;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }

    .deck {
        min-height: 11em;
        // margin: auto;
    }
}
