@use './mixins';

.settingssection {
    select { padding: .3em; }
}

.deckdeleteoptions {
    @include mixins.centered-flexbox;
    flex-direction: column;
    gap: .5rem;
}

.deletedeckdiv {
    @include mixins.centered-flexbox;
    gap: 1rem;
    margin-bottom: 1em;

    button{ padding: .1em; }
}

.resetbutton {
    display: block;
    margin: 1rem auto auto auto;
    color: red;
    border: 1px solid red;
    padding: .2em;
}