@use './config';
@use './mixins';

.deckdisplay {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin: .5em;
    width: min(35rem, 80%);
}

.yourdeckssectiondiv {
    @include mixins.centered-flexbox;
    flex-direction: column;
    width: 100%;
}

.deck {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(16.25rem, 5vw, 25rem);
    padding: 0rem .5em;
    border-radius: .5rem;
    min-height: 11rem;
    background-color: config.$quizlet-frontpage-deck-color;
}

.deckimageandname { 
    @include mixins.centered-flexbox;
    flex-direction: column;
    border-right: 1px solid config.$quizlet-gold-color;
    margin: .7em 0 .7em 1em;
    padding-right: 1em;
    gap: .5rem;
    
    button { padding: .2em; }
    h3 { font-size: 1rem; }
    p {
        color: rgba(253, 253, 253, 0.681);
        font-size: .9rem;
    }
}

.deckdescriptiondiv {
    @include mixins.centered-flexbox;
    flex-direction: column;
    min-width: 70%;
    margin: .7em 0;

    p {
        padding: .5em;
        text-align: center;
        font-size: clamp(1rem, 4vw, 1.1rem);
    }

    :nth-child(2) {
        color: rgba(253, 253, 253, 0.681);
        font-size: .9rem;
    }
}

.itsemptymessage {
    text-align: center;
    padding: 1em;
}