@use './config';
@use './mixins';

//Changes at 800px Media Query: width: 80vw;
.deckdisplay {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1em;
    margin: .5em;
}

.deck {
    // margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem .5rem;
    border-radius: .5em;
    min-width: 90%;
    min-height: 8em;
    background-color: config.$quizlet-frontpage-deck-color;
    font-size: clamp(1rem, 5.5vw, 1.1rem)
}

.deckimageandname { 
    @include mixins.centered-flexbox;
    flex-direction: column;
    border-right: 1px solid config.$quizlet-gold-color;
    margin: .7em 0 .7em 1em;
    padding-right: 1em;
    gap: .5rem;
    
    button { padding: .2em; }
    h3 { font-size: 1rem; }
    p {
        color: rgba(253, 253, 253, 0.681);
        font-size: .9rem;
    }
}

.deckdescriptiondiv {
    @include mixins.centered-flexbox;
    flex-direction: column;
    min-width: 70%;
    margin: .7em 0;

    p {
        padding: .5em;
        text-align: center;
    }

    :nth-child(2) {
        color: rgba(253, 253, 253, 0.681);
        font-size: .9rem;
    }
}

.itsemptymessage {
    text-align: center;
    padding: 1em;
}