@use 'config';
@use 'mixins';
@use 'reset';
@use 'modal';
@use 'yourdecks';
@use 'overview';
@use 'decksettings';
@use 'banner';
@use 'sidenav';

//declaring global color for dark mode (default)
html,
body {
    background-color: config.$quizlet-background-color;
    font-family: config.$font-stack;
    line-height: 1.6;
    color: white;
}

main {
    border-top: 1px solid black;
    min-height: fit-content;
}

.mobilenav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border: 1px solid grey;
    min-height: 4rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
        width: 2rem;
        pointer-events: none;
    }

    button {
        @include mixins.button-reset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .2rem;
        gap: .5rem;
    }

    h3 {
        font-size: .9rem;
        color: grey;
        pointer-events: none;
    }
}

section {
    h1 {
        text-align: left;
        padding: 1rem;
        font-size: 1.3rem;
    }
}